@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-1 fw-bold text-danger mt-5">Witamy w notatniku!</h1>
    <p class="display-5 mt-4">Aplikacja pozwala na tworzenie notatek i gromadzi je w lokalnej bazie danych. Została utworzona za pomocą ASP.NET</p>
</div>
